bin/
.*.jar
**/xtend-gen
**/src-gen
**/resources/VAADIN/widgetsets
**/resources/VAADIN/gwt-unitCache
**/WebContent/VAADIN/widgetsets
**/localTarget
**/build
**/WebContent/WEB-INF/lib
.DS_Store
target
.classpath
.settings
src-gen/
xtend-gen/
plugin.xml_gen
.project
/build.runtime-web.kepler.latest.log.properties
