<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://www.lunifera.org/vaadin/presentation/tests"
            class="org.lunifera.runtime.web.ecview.presentation.vaadin.tests.emf.model.ModelPackage"
            genModel="emfmodel/model.genmodel"/>
   </extension>

</plugin>
